<div class="container">
<h1>Stupid Coaching</h1>
<h6>Ask your coach anything:</h6>
<form action="/answer" class="form-inline" method="get">
  <input type="text" class="form-control" name="question" placeholder="What are you doing?">
  <input type="submit" class="btn btn-primary">
</form>
